In [3]:
from db import fetch
from tqdm import tqdm

In [7]:
query = """
SELECT contests.id, contests.__updatetime, contests.type, contests_plrsbefore.plr, contests.winner, contests.loser, contests_plrsbefore.userid, contests.status

FROM contests 

INNER JOIN contests_plrsbefore 

ON contests_plrsbefore.contests_id = contests.id

WHERE contests_plrsbefore.userid = 4767728656212852
"""

In [8]:
df = fetch(query)
df.shape

(74, 8)

In [13]:
user = 4767728656212852

In [14]:
lookup = {user: []}

for _, row in tqdm(df.iterrows()):
    if row['status'] != "completed" or row['type'] != 'H':
        pass
    else:
        if row['userid'] == row['winner']:
            lookup[user].append((row['__updatetime'], 1))
        else:
            lookup[user].append((row['__updatetime'], 0))

74it [00:00, 7798.65it/s]

In [19]:
query = """
select amt, __updatetime from transactions 
where userid = 4767728656212852 and type = 'D'
"""

In [20]:
df = fetch(query)
df.shape

(2, 2)

In [21]:
df

    amt            __updatetime
0  30.0 2019-01-22 11:08:47.182
1  10.0 2019-03-05 11:13:39.968

In [23]:
for _, row in tqdm(df.iterrows()):
    lookup[user].append((row['__updatetime'], row['amt']))

2it [00:00, 1633.93it/s]

In [24]:
lookup

{4767728656212852: [(Timestamp('2019-03-05 11:11:14.783000'), 0),
  (Timestamp('2019-03-08 11:15:44.029000'), 0),
  (Timestamp('2019-03-08 11:20:41.036000'), 1),
  (Timestamp('2019-03-08 11:33:43.119000'), 1),
  (Timestamp('2019-03-08 11:39:32.865000'), 1),
  (Timestamp('2019-03-08 11:39:32.865000'), 1),
  (Timestamp('2019-03-08 11:56:44.105000'), 1),
  (Timestamp('2019-03-08 11:56:44.105000'), 1),
  (Timestamp('2019-03-08 12:02:02.697000'), 0),
  (Timestamp('2019-03-08 12:02:02.697000'), 1),
  (Timestamp('2019-03-08 12:07:37.373000'), 0),
  (Timestamp('2019-03-08 12:13:26.753000'), 1),
  (Timestamp('2019-03-08 12:13:26.753000'), 1),
  (Timestamp('2019-03-08 12:19:40.780000'), 0),
  (Timestamp('2019-03-08 12:19:40.780000'), 1),
  (Timestamp('2019-03-08 12:25:09.143000'), 1),
  (Timestamp('2019-03-08 12:25:09.143000'), 0),
  (Timestamp('2019-03-08 12:38:55.133000'), 1),
  (Timestamp('2019-03-08 13:04:15.745000'), 1),
  (Timestamp('2019-03-09 11:32:49.933000'), 1),
  (Timestamp('2019-03-09 11:46:29.046000'), 1),
  (Timestamp('2020-01-22 01:06:41.012000'), 0),
  (Timestamp('2020-04-02 16:33:30.765000'), 1),
  (Timestamp('2020-04-02 16:50:55.464000'), 1),
  (Timestamp('2020-04-02 17:12:32.201000'), 1),
  (Timestamp('2020-04-02 18:28:43.889000'), 1),
  (Timestamp('2020-04-02 18:28:43.889000'), 0),
  (Timestamp('2020-04-02 18:31:36.775000'), 0),
  (Timestamp('2020-04-02 18:31:36.775000'), 0),
  (Timestamp('2020-04-02 18:36:37.084000'), 0),
  (Timestamp('2020-04-02 18:39:15.708000'), 0),
  (Timestamp('2020-04-02 18:39:15.708000'), 1),
  (Timestamp('2019-01-22 11:08:47.182000'), 30.0),
  (Timestamp('2019-03-05 11:13:39.968000'), 10.0)]}

In [25]:
# sort games by timestamp
for k, v in lookup.items():
    lookup[k] = sorted(v, key=lambda x: x[0])

In [26]:
lookup

{4767728656212852: [(Timestamp('2019-01-22 11:08:47.182000'), 30.0),
  (Timestamp('2019-03-05 11:11:14.783000'), 0),
  (Timestamp('2019-03-05 11:13:39.968000'), 10.0),
  (Timestamp('2019-03-08 11:15:44.029000'), 0),
  (Timestamp('2019-03-08 11:20:41.036000'), 1),
  (Timestamp('2019-03-08 11:33:43.119000'), 1),
  (Timestamp('2019-03-08 11:39:32.865000'), 1),
  (Timestamp('2019-03-08 11:39:32.865000'), 1),
  (Timestamp('2019-03-08 11:56:44.105000'), 1),
  (Timestamp('2019-03-08 11:56:44.105000'), 1),
  (Timestamp('2019-03-08 12:02:02.697000'), 0),
  (Timestamp('2019-03-08 12:02:02.697000'), 1),
  (Timestamp('2019-03-08 12:07:37.373000'), 0),
  (Timestamp('2019-03-08 12:13:26.753000'), 1),
  (Timestamp('2019-03-08 12:13:26.753000'), 1),
  (Timestamp('2019-03-08 12:19:40.780000'), 0),
  (Timestamp('2019-03-08 12:19:40.780000'), 1),
  (Timestamp('2019-03-08 12:25:09.143000'), 1),
  (Timestamp('2019-03-08 12:25:09.143000'), 0),
  (Timestamp('2019-03-08 12:38:55.133000'), 1),
  (Timestamp('2019-03-08 13:04:15.745000'), 1),
  (Timestamp('2019-03-09 11:32:49.933000'), 1),
  (Timestamp('2019-03-09 11:46:29.046000'), 1),
  (Timestamp('2020-01-22 01:06:41.012000'), 0),
  (Timestamp('2020-04-02 16:33:30.765000'), 1),
  (Timestamp('2020-04-02 16:50:55.464000'), 1),
  (Timestamp('2020-04-02 17:12:32.201000'), 1),
  (Timestamp('2020-04-02 18:28:43.889000'), 1),
  (Timestamp('2020-04-02 18:28:43.889000'), 0),
  (Timestamp('2020-04-02 18:31:36.775000'), 0),
  (Timestamp('2020-04-02 18:31:36.775000'), 0),
  (Timestamp('2020-04-02 18:36:37.084000'), 0),
  (Timestamp('2020-04-02 18:39:15.708000'), 0),
  (Timestamp('2020-04-02 18:39:15.708000'), 1)]}